// Mixins in here

.flex(@justify, @align){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}



    .btn(@font, @color, @size){
        font-family: @font;
        color: @color;
        font-size: @size;
    }

